/*CSS Personalizado*/

/* CARDS */

.card{
    transition:all .2s ease;
}

.card:hover{
    transform:translateY(-10px);
}

/* INDICADORES */

.indicadores{
    background-color: rgb(9, 41, 68);
    border-top: 4px solid #05f539;
    border-bottom: 4px solid #77eb04; 
}

.indicadores h2{
    color: #1c8b10;
    font-size: 3rem;
}

.indicadores p{
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 0;
}

.indicadores .col-md-4{
    padding: 1.5rem;
    transition: all .3s ease;
}

.indicadores .col-md-4:hover{
    transform: translateY(-5px);
}

.indicadores .col-md-4:not(:last-child){
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

:root {

    /* Colores principales */
  
    --primary: #0F4C81;
    --secondary: #2D9CDB;
    --accent: #56CCF2;
  
    /* Corporativos */
  
    --dark: #0B1F33;
    --white: #FFFFFF;
  
    /* Neutros */
  
    --gray-light: #F4F7FA;
    --gray: #6B7280;
    --border: #D9E2EC;
  
    /* Estados */
  
    --success: #27AE60;
    --warning: #F2C94C;
    --danger: #EB5757;
  }


/*Gradiente para Hero*/

h1 {
    background: linear-gradient(
135deg,
#0B1F33 0%,
#0F4C81 50%,
#2D9CDB 100%
);
}

/*Botón Principal*/

.btn-primary{
    background-color: var(--primary);
    border: none;
    color: white;
}

.btn-primary:hover{
    background-color: var(--secondary);
}

/*Cards de Servicios*/

.card-service{
    background: white;
    border: 1px solid var(--border);
    border-radius: 16px;
    transition: .3s;
}

.card-service:hover{
    transform: translateY(-5px);
}

/*KPIs (Indicadores)*/

.kpi{
    background: linear-gradient(
        135deg,
        #0F4C81,
        #2D9CDB
    );
    color: white;
}

:root {

    /* Primary */
    --primary: #2563EB;
  
    /* Secondary */
    --secondary: #4F46E5;
  
    /* Accent */
    --accent: #06B6D4;
  
    /* Success */
    --success: #22C55E;
  
    /* Light */
    --light: #F8FAFC;
  
    /* Dark */
    --dark: #0F172A;
  
    /* Gradients */
    --gradient-primary: linear-gradient(
      135deg,
      #2563EB,
      #4F46E5
    );
  
    --gradient-tech: linear-gradient(
      135deg,
      #06B6D4,
      #2563EB
    );
  
    --gradient-health: linear-gradient(
      135deg,
      #22C55E,
      #06B6D4
    );
  }